{{!-- {{> components/header/header notAuthState=1}} --}}
<div class="landing-wrapper">
    <div class="landing__header">
        <div class="logo__container" data-link data-url="/">
            <img data-link data-url="/" class="header__logo--landing" src="data:image/svg+xml,{{logo}}">
            <p data-link data-url="/" class="logo__text">jimder</p>
        </div>
        <button class="button button--xl button--info button--link" data-link data-url="/login">войти</button>
    </div>
    <div class="landing__slide slide--first">
        <img class='landing__picture' src="https://los_ping.hb.ru-msk.vkcs.cloud/landingGroup.webp">
        <div class="landing__side-container">
            <p class="landing__title">Ты готов? Потому что они — <b class="landing__title title--highlight">да</b></p>
            <button class="button button--success button--xl" data-link data-url="/register">Регистрация</button>
        </div>
    </div>
    <div class="landing__slide slide--second">
        <div class="landing__points">
            {{#each points}}
                <div class="point">
                    <img class="point__image" src="data:image/svg+xml,{{icon}}">
                    <p class="point__text">{{text}}</p>
                </div>
            {{/each}}
        </div>
        <div class="landing__info">
            <p class="landing__title">Найди людей с похожими <b class="landing__title title--highlight">интересами.</b></p>
            <p class="landing__text">Находи людей для совместного занятия любыми активностями.</p>
            <p class="landing__text">Некому подстраховать когда делаешь жим лежа? Не проблема, мы поможем вам найти нужного человека.</p>
            <p class="landing__text">В вас горит страсть к сражению? Хотите бить чужие рекорды и ставить свои? Тогда приступаем!</p>
        </div>
    </div>
    {{> pages/landing/components/ticker/ticker }}
    <div class="landing__slide slide--third">
        {{#each reviews}}
            <div class="review">
                <div class="review__header">
                    <img class="review__avatar" src="{{avatar}}"/>
                    <p class="review__title">
                        {{title}}
                    </p>
                </div>
                <p class="review__text">
                    {{content}}
                </p>
            </div>
        {{/each}}
    </div>
</div>