<div class="form__field">
    {{#if label}}
        <label class="form__label {{#each labelClasses}}{{this}} {{/each}}" for={{id}}>{{label}}</label>
    {{/if}}
    {{#if textArea}}
        <textarea class="form__textarea {{#each classes}}{{this}} {{/each}}" 
                maxlength="{{maxlength}}" placeholder="{{placeholder}}"
                id="{{id}}"></textarea>
    {{else}}
        <input class="form__input {{#each classes}}{{this}} {{/each}}" 
            id="{{id}}" type="{{type}}" minlength="{{minlength}}" 
            maxlength="{{maxlength}}" autocomplete="{{completion}}" 
            placeholder="{{placeholder}}" min="{{min}}" max="{{max}}">
    {{/if}}
    {{#if iconButton}}
        {{> components/form/formButton iconButton}}
    {{/if}}
    <div class="field__error any--hidden"></div>
</div>