<div class="form__block" id={{stepId}}>
        <div class="form__header">
            {{> components/form/formNavButton formNavButton}}
            {{#if currentStep}}
                <p class="form__step-count">{{currentStep}}</p>
            {{/if}}
        </div>
        <div class="form__title"> 
            <h1 >{{formTitle}}</h1>
        </div>
        {{#if formInfo}}
            <div class="form__info">
                <p>{{formInfo}}</p>
            </div>
        {{/if}}
        <div class="form__input-container">
            {{#if fields}}
                <div class="form__field-container">
                    {{#each fields}}
                        {{> components/form/formField this}}
                    {{/each}}
                </div>
            {{/if}}
        </div>
        {{#if choices}}
        <div class="form__input-container">
            {{#if fieldsExtra}}
                <div class="form__field-container">
                    {{#each fieldsExtra}}
                        {{> components/form/formField this}}
                    {{/each}}
                </div>
            {{/if}}
                <div class="form__checkbox-container {{#if side}}form__checkbox-container--side{{/if}}">
                    {{#if choiceLabel}}
                        <label class="form__label">{{choiceLabel}}</label>
                    {{/if}}
                    <div class="form__checkbox-list {{#if list}}form__checkbox-list--cut{{/if}}">
                        {{#each choices}}
                            {{> components/form/formCheckBox this}}
                        {{/each}}
                    </div>
                </div>
        </div>
        {{/if}}
        <div class="form__button-container">
            {{> components/form/formButton formButton}}
        </div>
        {{#if footerInfo}}
            <div class="form__footer">
                <p>{{footerInfo}} <a data-link class="form__link" href={{footerLink}}>{{footerLinkText}}</a></p>
            </div>
        {{/if}}
</div>