<div class="card" style="--i:{{index}}">
    <img class="card__image" src="{{image}}" alt={{index}} >
    </img>
    <div class="card__content">
        <p class="card__name">{{name}}, {{age}}</p>
        <p class="card__description">{{description}}</p>
    </div>
</div>