<div class="card" style="--i:{{index}}">
    <div class="card__front">
        <img class="card__image" src="{{image}}" alt={{index}} >
        </img>
        <div class="card__content">
            <p class="card__name">{{name}}, {{age}}</p>
        </div>
    </div>
    <div class="card__back">
        <div class="card__content">
            <p class="card__description">{{description}}</p>
            <div class="card__interests">
                {{#each interests}}
                    <span class="card__interest">{{this}}</span>
                {{/each}}
        </div>
    </div>  
</div>